<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GS1 Automation Assessment Suite" verbose="1">

    <!-- 1. تشغيل اختبارات الـ GUI أولاً -->
    <test name="GUI Automation Tests" preserve-order="true">
        <classes>
            <class name="com.mahmoud.tests.FileUploadTest"/>
            <class name="com.mahmoud.tests.DynamicLoadingTest"/>
        </classes>
    </test>

    <!-- 2. تشغيل اختبارات الـ API ثانياً بالترتيب المحدد -->
    <test name="API Automation Tests" preserve-order="true">
        <classes>
            <class name="com.mahmoud.api.BooksApiTest"/>
        </classes>
    </test>

</suite>
